# This workflow will install Python, Javascript and Meya dependencies, runs tests and code formatting check
name: Meya build

on:
  push:
    branches:
      - '*'
  pull_request:
    branches:
      - master

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Set up Python 3.8
        uses: actions/setup-python@v1
        with:
          python-version: 3.8
      - name: Set up Node.js 10.x
        uses: actions/setup-node@v1
        with:
          node-version: 10.x
      - name: Install Python dependencies
        run: |
          python -m pip install --upgrade pip
          pip install --upgrade \
            --extra-index-url https://meya:${{ secrets.auth_token }}@grid.meya.ai/registry/pypi \
            "pygit2>=1.1.1" \
            "meya-sdk>=2.0.0" \
            "meya-cli>=2.0.0"
      - name: Install Node dependencies
        run: |
          echo "//npm.fury.io/meya-ai/:_authToken=${{ secrets.gemfury_auth_token }}" > .npmrc
          npm install yarn -g
          yarn install
      - name: Authenticate using Meya auth token
        run: |
          meya auth add --grid-url https://grid.meya.ai --auth-token ${{ secrets.auth_token }}
      - name: Connect to production app
        run: |
          meya connect --grid-url https://grid.meya.ai --app-id ${{ secrets.app_id }}
      - name: Check code syntax and formatting
        run: meya check
      - name: Run tests
        run: meya test
      - name: Build Orb demo
        run: yarn build
      - name: Install Google Cloud dependencies
        run: |
          wget https://dl.google.com/dl/cloudsdk/channels/rapid/downloads/google-cloud-sdk-243.0.0-linux-x86_64.tar.gz -O /opt/google-cloud-sdk-243.0.0-linux-x86_64.tar.gz \
          tar -C /opt -zxf /opt/google-cloud-sdk-243.0.0-linux-x86_64.tar.gz \
          rm /opt/google-cloud-sdk-243.0.0-linux-x86_64.tar.gz \
          ln -s /opt/google-cloud-sdk/bin/gcloud /usr/local/bin/gcloud \
          ln -s /opt/google-cloud-sdk/bin/gsutil /usr/local/bin/gsutil \
          echo "${{ secrets.google_auth_json }}" > /var/tmp/keyconfig.json \
          gcloud auth activate-service-account --key-file /var/tmp/keyconfig.json --project "${{ secrets.google_project_id }}" \
      - name: Deploy to Grid
        if: github.ref == 'refs/heads/master'
        run: meya push --force --build-image
      - name: Deploy Orb demo
        if: github.ref == 'refs/heads/master'
        run: yarn upload
